@using BankingApp.Core.Application.ViewModels.Payment
@model ExpressPaymentViewModel
@{
    ViewData["Title"] = "Complete Payment";
}

<div class="row">

    <div class="col-6 offset-3">
        <div class="card shadow rounded">
            <div class="card-header ">
                <h4>Are you sure you would like to complete the payment to: @ViewBag.DestinyUser.Name  @ViewBag.DestinyUser.LastName  </h4>
                <h6>Account Number : @Model.Destination</h6>
            </div>
            <div class="card-body">

                <form method="post" asp-controller="Payment" asp-action="ExpressPaymentConfirm">

                    <input type="hidden" asp-for="Amount" />
                    <input type="hidden" asp-for="Origin" />
                    <input type="hidden" asp-for="Destination" />
                    <button type="submit" class="btn btn-danger">Confirm Payment</button>
                    <a asp-controller="Payment" asp-action="ExpressPayment" class="btn btn-warning">Cancel Payment</a>

                </form>

            </div>
        </div>
    </div>

</div>
