@using BankingApp.Core.Application.ViewModels.Transaction
@model SaveTransactionViewModel
@{
    ViewData["Title"] = "Cash advance";
}

<h2>Cash advance</h2>

<form method ="post" asp-action="CashAdvance">

</form>