@{
    ViewData["Title"] = "Forgot my password";
}

<div class="container-fluid">

    <div class="row">
        <div class="col-6 offset-3">
            <div class="card">
                <div class="card-header bg-dark text-light">
                    <h4 class="text-center">Forgot my password</h4>
                </div>
                <div class="card-body">

                    <h1>Please contact an administrator to reset your password.</h1>

                </div>

            </div>
        </div>
    </div>

</div>

